/downloads/
/resized/
config.json
/venv/
/.idea/
.DS_Store
/downloads2/
/resized2/
/resized2/
/battlestations/
/EarthPorn/
/foodporn/
/houseplants/
/outrun/
/PlaydeadsInside/
/thalassophobia/
/vaporwave/
